body { cursor: default; }

#content {
	margin-top: 200px;
}

@media (max-width: 991px) {
	#content { margin-top: 80px; }
}

#filters strong { font-size: 13pt; }
#filters ul, #filters li { display: inline-block; }
#filters li { background-color: #FFD197; padding: 3px; cursor: hand; }

